@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 238, 80);
}

.container {
  text-align: center;
  margin: 60px auto;
  max-width: 650px;
  padding: 20px;
}

header {
  padding: 50px;
  margin-top: 70px;
}

header > h1 {
  text-align: center;
  justify-content: center;
  font-size: 41px;
  font-family: "Roboto", sans-serif;
}

.score-board {
  border: 3px solid black;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.buttons {
  margin: 50px auto;
  text-align: center;
}

.rps-select-btn {
  display: inline-block;
  /*border: 3px solid black;*/
  border-radius: 50%;
  padding: 30px;
  margin: 0 20px;
  font-size: 60px;
  background-color: white;
  transition: all 0.3s ease;
}

.rps-select-btn:hover {
  cursor: pointer;
}
