@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  max-width: 100%;
  background-color: #009de0;
}

::placeholder {
  font-size: 0.9em;
}

.container {
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: rgb(7, 4, 4);
  font-size: 3rem;
  font-weight: 700;
}

.container p {
  color: white;
  font-size: 1rem;
}

.container input {
  width: 100%;
}

.container label {
  color: rgb(255, 145, 163);
  font-size: 1.2em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: whitesmoke;
  margin-top: 5%;
  border-radius: 0.5em;
  padding: 5%;
}

.content h2 {
  color: red;
  font-weight: 700;
}

.content > p {
  font-size: 2rem;
  color: black;
}

.content button {
  border: 0;
  font-size: 1em;
  font-weight: 700;
  height: 2.5em;
  /* width: 100%;*/
}

.content button.submit-btn {
  background-color: #009de0;
}

.content button.submit-btn:hover {
  background-color: #42c4fc;
}

.content button.secondary-btn {
  background-color: #009de0;
}

.content button.secondary-btn:hover {
  background-color: #036c99;
}

.container > .event-validation {
  padding: 1em 2em;
  text-align: center;
  position: absolute;
  top: 60%;
}
